
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.video{
    width: auto;
    height: 600px;
    padding: o 5%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(reba(12,3,51,0,3),rgba(12,3,51,0,3));
    position: relative;
    
    justify-content: center;
}
nav{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 8%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
nav.logo{
    width: 15px;
    position: absolute;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
na ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
} 
.content h1{  

    font-size: 100px;
    position: absolute;
    font-weight: 600;
    transition: 0.5s;
    top: 353px;
    left: 535px;
}
.content{
    text-align: center;
}
.content h1 :hover{

    -webkit-text-stroke: 5px #fff;
    color: transparent;
}
.content a{
    position: absolute;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}